<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body style="background-color: #000000; padding-left: 40px; padding-right: 40px;">
    <nav class="Navbar-aboutus" style="display: flex; background-color: rgb(60, 123, 155); justify-content: space-between; font-size: large; border-radius: 10px;">
        <img src="logo.png" alt="Logo" class = "logo" style="height: 80px; border-radius: 10px;">
    </nav>
    <div class="about" style="background-color:aliceblue; padding-left: 40px; padding-right: 40px; padding-bottom:20px; font-size:large; border-radius: 40px;">
        <h1 style="text-align: center;">About Us</h1>
        <p>Welcome to MakeMyWork, the ultimate platform for collaborative task management!</p>
        <p>At MakeMyWork, our mission is to make collaboration effortless and efficient. We believe in the power of collective effort and aim to provide a space where individuals can share their tasks,
             find skilled people to help, earn money by solving others' tasks and achieve goals together.</p>
        <h2>What We Do</h2>
        <p>TaskShare connects people who have tasks with those who are eager to assist. Whether you need help with a project, are looking for someone to collaborate on a creative endeavor, or just need a hand with everyday chores, TaskShare is here to facilitate these connections. Our platform allows users to:</p>
          <ul>Post Tasks: Share the details of your task, specify the skills needed, and set deadlines.</ul>
          <ul>Find Tasks: Browse through a variety of tasks that match your skills and interests.</ul>
          <ul>Collaborate: Work together with others, communicate effectively, and complete tasks efficiently.</ul>
        <h2>Why Choose MakeMyWork?</h2>
          <ol>User-Friendly Interface: Our platform is designed to be intuitive and easy to navigate.</ol>
          <ol>Diverse Opportunities: From professional projects to personal chores, find tasks across various categories.</ol>
          <ol>Community-Driven: Join a supportive community of like-minded individuals who are eager to help and collaborate.</ol>
          <ol>Secure and Reliable: Your privacy and security are our top priorities. We ensure that all transactions and communications are safe and secure.</ol>
        <h2>Our Story</h2>
          <p>MakeMyWork was founded by a group of friends who realized that everyone has skills and talents that can be beneficial to others. We wanted to create a space where people could come together, share their tasks, and help each other out, along with earning money.</p>
    </div>
</body>
</html>